[submodule "third_party/AutoRecon"]
	path = third_party/AutoRecon
	url = git@github.com:limpbot/AutoRecon.git
[submodule "LightGlue"]
	path = third_party/LightGlue
	url = git@github.com:cvg/LightGlue.git
